body
{

	width: 100%;
    height: 400px;
    background: url('img_fond.jpg') repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover;
    

}

h1,h2
 {
 	position: relative; 
 	bottom: -350px;
 	text-align: center;
 	color: #008080
 }

form
{
	text-align: center;
	position: relative; 
 	bottom: -350px;
	 
}

input
 {

 	text-align: center;
 }

ul
{
	/* Safari */
-webkit-transform: rotate(-36deg);

/* Firefox */
-moz-transform: rotate(-36deg);

/* IE */
-ms-transform: rotate(-36deg);

/* Opera */
-o-transform: rotate(-36deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

position: relative;
top: -300px


}
 }
